body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
    max-width: 960px;
    margin: auto;
    background-color:#F9FAFB;
}

main { 
    display: grid;
    grid-template-columns: 40% 60%;
    margin-top: 0;
}

header {
       font-family: 'Roboto Slab', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    background-color: #829db8; 
    color: #ffffff;
    text-align: center;
    padding: 24px 20px;
    margin-bottom: 0;
    letter-spacing: 0.05em;}

header h1 {
    margin: 0;
    font-size: 2em;
}

header hr {
    border: none;
    border-top: 2px solid white;
    margin: 10px auto;
    width: 60%;
}

section {
    margin: auto 1em 4em 2em;
    margin-top: 0;
}

i {
    margin-right: .5em;
}

p {
    margin: .2em auto;
}

hr {
    border: none;
    background-color: lightgray;
    height: 1px;
}

h1, h2, h3 {
    font-weight: 100;
    margin-bottom: 0;
}

#mainLeft, #mainRight {
    padding: 20px;
    box-sizing: border-box;
    margin-top: 0; 
}

#mainLeft {
    background-color: #2C3E50;
}

#mainLeft h2, #mainLeft h4, #mainLeft p, #mainLeft li {
    color: white;
}

#mainRight li {
    color: #4B5563;
}

#mainRight h4 {
    color: #4B5563;
}
a{
    color:	#60A5FA
}
h2 {
    font-weight: 700; 
    font-family: 'Segoe UI Black', 'Arial Black', Arial, sans-serif; 
    color: #2C3E50; 
    letter-spacing: 1px; 
}
